/* body {
    background-color: greenyellow;
} */

/* css variables */

/* DOM tree root */
:root { 
    --color: rgb(62, 220, 248);
    --size: 8px;
}

h1 {
    font-size: calc(var(--size) * 5);
}

body {
    background: var(--color);
}

.button {
    background: var(--color);
}

title {
    background: var(--color);
}